version: '3'
services:
  app:
    build: .
    environment:
      DATABASE_CLIENT: mysql
      DATABASE_NAME: strapi
      DATABASE_HOST: strapidb
      DATABASE_PORT: 3306
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi
    volumes:
      - ./app:/srv/app
    ports:
      - '1337:1337'
    security_opt:
      - no-new-privileges:true
    depends_on:
      - mysql
  mysql:
    container_name: strapidb
    restart: unless-stopped
    image: mariadb:latest
    environment:
      MYSQL_USER: strapi
      MYSQL_PASSWORD: 27654072
      MYSQL_DATABASE: strapi
      MARIADB_ROOT_PASSWORD: 27654072
    volumes:
      - ./data:/var/lib/mysql